/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'); /* Super Modern Browsers */
}

@import '@/assets/scss/mixin.scss';

html, body {
  background-color: transparent;
  @include font-type(18px, 24px, #010101, normal);
}

html, body, h1, section, nav, input, select, p, a, div, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #023020;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  width: 0px;
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #629727;
}


// Main Block
.main-block {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.__mt4 {
  margin-top: 4px;
}

.__mt8 {
  margin-top: 8px;
}